[build-system]
# Minimum requirements for the build system to execute.
requires = ["setuptools", "wheel"]

[tool.ruff]
line-length = 120

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

